/* Reset CSS */
* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Generics */
.containerl {
    max-width: 1200px;
    margin: 0 auto;
}

.containerm {
    max-width: 1000px;
    margin: 0 auto;
}

.containers {
    max-width: 100%;
    margin: 0 30px;
    padding: 20px 0px
}

.flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

ul {
    list-style-type: none;
    gap: 40px;
    padding-inline-start: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 80%;
}

.fa-dropbox {
    color: rgb(40, 95, 246);
    line-height: 19px;
}

.btn-blue {
    color: white;
    background-color: rgb(40, 95, 246);
    padding: 5px 10px;
    font-size: 0.9em;
}

.btn-white {
    color: gray;
    border: 1px solid gray;
    padding: 5px 10px;
    font-size: 0.9em;
}

.btn-btn-white {
    color: black;
    padding: 5px 20px;
    font-size: 0.8em;
    background-color: rgb(245, 245, 245)
}

h1 {
    font-size: 1.6em;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.break-line {
    height: 1px;
    width: 20%;
    background-color: lightgray;
    margin: 30px 0;
}

section {
    margin-top: 150px;
}

#description {
    font-size: 0.8em;
    margin-bottom: 20px;
    text-align: justify;
}

#title {
    font: 1.2em bold black;
    font-family: sans-serif;
    font-weight: 550;
    margin-bottom: 10px;
    text-align: justify;
}

#price {
    font: 0.9em bold black;
    font-family: 'sans-serif';
    font-weight: 550;
    margin: 15px 0;
}

#plan-period {
    font: 0.8em bold lightgray;
    font-family: 'sans-serif';
}

.box {
    width: 50%;
    height: 50%;
}

.box-b {
    width: 100%;
    height: 100%;
}

.green {
    background-color: rgb(172, 210, 160);
}

.brown {
    background-color: rgb(89, 19, 43);
}

.light-blue {
    background-color: rgb(64, 145, 201);
}

.light-red {
    background-color: rgb(234, 60, 47);
}

.red {
    background-color: rgb(195, 41, 43);
}

.light-light-blue {
    background-color: rgb(185, 207, 229);
}

.blue {
    background-color: rgb(19, 35, 124);
}

.yellow {
    background-color: rgb(249, 217, 86);
}

.light-grey {
    background-color: rgb(245, 245, 245)
}

/* !Header*/

/* !Top */
header {
    height: 600px;
    background-color: rgb(185, 207, 229);
    /* border: 2px dashed red; */
    margin-bottom: 150px;
}

.header-top {
    height: 50px;
    /* border: 2px dashed red; */
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 0.8em;
    position: sticky;
    top: 0;
    left: 0;
}

.header-top>* {
    align-items: center;
    gap: 5px;
}

.header-left,
.header-right {
    align-items: center;
    /* border: 1px dashed red; */
}

.header-list {
    margin-left: 25px;
}

/* !Bottom */
.header-bottom {
    /* border: 2px dashed red; */
}

.header-bottom h1 {
    max-width: 70%;
    font-family: sans-serif;
    font-size: 4em;
    font-weight: 900;
    margin: 40px 0;
}

.jumbotron {
    margin-top: 40px;
}

.jumbotron-left {
    flex-basis: 30%;
}

.jumbotron-left li {
    margin-bottom: 50px;
}

.jumbotron-right {
    flex-basis: 70%;
}

/* TodoMain */

/* *Plans section */
.row-plans {
    flex-wrap: wrap;
    gap: 43px;
}

.col-plans {
    flex-basis: calc(100% / 3 - 86px / 3);
    border: 1px solid lightgray;
}

.billing-type {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 40px;
}


.card-header {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
}

.card-main,
.card-footer ul:last-of-type {
    font-size: 0.7em;
    margin-top: 30px;
}

main li {
    margin: 10px 0;
    text-indent: -5px;
}

.try-buy>a {
    font-size: 0.8em;
    color: white;
    background-color: rgb(40, 95, 246);
    margin: 30px 0;
    padding: 5px 49px;
    text-align: center;
}

.card-footer {
    line-height: 1.5em;
}

h6 {
    font: 0.8em black;
    font-weight: 600;
    margin: 0;
}

/* *Large card */
.row-plans .col-plans:last-of-type {
    flex-basis: 100%;
}

.large-left.card-top {
    flex-basis: calc((100% / 3)*2 + 46px);
}

.large-right {
    padding: 15px 0 0 30px;
    width: 30%;
}

/* *Find-partner section */
.find-partner img {
    max-width: 50%;
}

.text {
    flex-basis: 35%;
    padding: 30px 40px;
}

/* *Business pack pro */
section.business {
    margin-top: 150px;
}

.business a:last-of-type {
    text-decoration: underline;
    margin: 30px 0;
}

.row.business {
    flex-wrap: wrap;
    gap: 20px;
}

.col-business {
    flex-basis: calc(100% / 3 - 40px / 3);
}

.col-business:last-of-type {
    margin-top: 100px;
    flex-basis: 40%;
}

#imagebusiness {
    max-width: 80%;
    margin: 20px;
    align-self: center;
}

/* *Partners section */

/* *Top */
#imagepartners {
    max-width: 40%;
    filter: invert();
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#imagepartners-b {
    max-width: 30%;
}

.box-b>* {
    margin: 30px 30px;
}

.partners .row.flex {
    height: 700px;
}

.col-partners {
    flex-basis: calc(100% / 3);
}

.left,
.right {
    flex-wrap: wrap;
    position: relative;
}

/* *Bottom */
.partners-bottom {
    height: 300px;
}

.partners-bottom .containerm.flex {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.containerm.flex h1 {
    flex-basis: 30%;
    margin: 0;
    color: rgb(89, 18, 42);
}

/* *Faq section */
section.faq {
    margin-top: 100px;
    margin-bottom: 100px;
}

.faq h1 {
    font-size: 2em;
    padding-bottom: 30px;
}

.faq ul span {
    padding-right: 30px;
}

.faq ul li {
    text-indent: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    padding: 20px 0;
    border-top: 1px solid gray;
}

/* ?Footer */
footer {
    background-color: black;
    border-bottom: 1px solid white;
}

.footer-list {
    flex-basis: calc(100% / 5);
    padding: 60px 0;
    color: white;
}

ul.footer-list h2 {
    font: 1.3em bold;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 20px;
}

#break-line-footer {
    max-width: 1200px;
    width: 5%;
    margin: 30px 339px;
    border: 1px solid gray;
}

ul.footer-list li {
    line-height: 40px;
}

.language {
    color: gray;
    padding-bottom: 40px;
    height: 80px;
    gap: 5px;
}